

        
    
        <div *ngIf="typedQuestion" style="display:flex; flex-direction: row">
                <div>
                        <form [formGroup]="form">
                                <section class="typedQuestion">
                                        <div>Question {{index + 1}}</div>
                                        <ng-katex [equation]="typedQuestion.getLabel()" style="font-size:x-small"></ng-katex>
                                </section>
                                <section >
                                        <div class="answer">
                                                <p-radioButton 
                                                        *ngFor="let answer of typedQuestion.displayAnswers();let i = index"
                                                        name="answers" 
                                                        formControlName="answer"
                                                        value="{{answer}}" 
                                                        label="{{answer}}"
                                                        
                                                        (click)="answerClicked(answer)"
                                                        >
                                                </p-radioButton>
                                                <span>{{answer}}</span>
                                        </div>
                                </section>
                                <section class="actions">
                                        <button  style="width:30%; margin: 3px;" mat-raised-button (click)="previousQuestion()"> &lt; &lt;</button>
                                        <!-- <button type="button" style="width:30%; margin: 3px;" pButton label="Submit" [disabled]="checkSubmitDisable()" (click)="checkAnswer()"></button> -->
                                        <button  style="width:30%; margin: 3px;" mat-raised-button (click)="nextQuestion()"> &gt; &gt; </button>
                                        
                                         
                                </section>
                        </form>
                </div>
        </div>    
        
   

