
<div class="wrapper">
    <div class="pageTitle">
      Posts
    </div>  
    <p-tabView (onChange)="onNewTab($event)">
        <p-tabPanel [header]="header" *ngFor="let header of tabHeaders; let i = index" [selected]="i == 0">
            Content
        </p-tabPanel>
        
    </p-tabView>
    <div *ngIf="firstBlogPost">
      <div class="firstBlogGrid">
          <div class="firstBlogImage"></div>
            <a [routerLink]="['/posts', firstBlogPost.id]">
              <div class="firstBlogTitle">{{firstBlogPost.title}}</div>
            </a>
          <div class="firstBlogText">{{firstBlogPost.desc}}</div>
          <div class="firstBlogDate">{{convertDate(firstBlogPost.date)}}</div>
      </div>
    </div>

    <div *ngIf="remainingBlogPosts" class="card-container">
      <article class="card post" *ngFor="let bp of this.remainingBlogPosts">
        <div class="card-info post">
            <div class="card-tag post">{{bp.subject}}</div>
            <div class="card-date post">{{convertDate(bp.date)}}</div>    
        </div>
        <header class="card-title post">
          <a [routerLink]="['/posts', bp.id]">{{bp.title}}</a> 
        </header>
        <a class="card-fig post" [routerLink]="['/posts', bp.id]">
          <figure >
            <img src="assets/images/python_logo.png">
          </figure>
        </a>
        <main class="card-desc post">{{bp.desc}}</main>
        
      </article>
    
    </div>
      

</div>  

