Page Loading {{pastPaperId}}
  <div *ngIf="pastPaperAnswers">
      <h1>{{pastPaperAnswers.paperTitles}}</h1>
    <!--
    <app-cp-past-paper [pastPaperAnswers]="pastPaperAnswers" (save)="onSave($event)"></app-cp-past-paper>
    (onEditComplete)="tableEdited($event)"    
-->
    <p-table [value]="pastPaperAnswers.answers" [paginator]="true" [rows]="showRows" [first]="first" (onEditComplete)="tableEdited($event)">
      
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 50px;">Q</th>
              <th style="width: 150px;">Type</th>
              <th style="width: 100px;">Level</th>
              <th style="width: 100px;">Available Marks</th>
              <th style="width: 100px;">Actual Marks</th>
              <th style="width: 100px;">Error</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
          <tr>
              <td>{{rowData.number}}</td>
              <td>{{rowData.type}}</td>
              <td>{{rowData.level}}</td>
              <td>{{rowData.available_marks}}</td>
              <!-- <td pEditableColumn [pEditableColumn]="rowData" [pEditableColumnField]="'actual_marks'">-->
                    <td pEditableColumn [pEditableColumn]="rowData" [pEditableColumnField]="'actual_marks'">
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.actual_marks">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{rowData.actual_marks}}
                      </ng-template>
                  </p-cellEditor>
              </td>

              <td pEditableColumn [pEditableColumn]="rowData" [pEditableColumnField]="'mistake_type'">
                   
                            <mat-form-field>
                                    <mat-select [(ngModel)]="rowData.mistake_type" (selectionChange)="onMistakeTypeChange($event)" style="width: 100px">
                                        <mat-option *ngFor="let mt of mistakeTypes" [value]="mt.value" style="width:100px; background-color: red">
                                        {{mt.label}}
                                        </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                        
                </td>
              
          </tr>
      </ng-template>
  </p-table>
  </div>
