
<div>
    <span>Links:</span>
    <a class="questionPaperLink" href="{{pastPaperAnswers.paperLink}}" target="_new">Paper</a>
    <a class="questionPaperLink" href="{{pastPaperAnswers.markSchemeLink}}" target="_new">Mark Scheme</a>
</div>

<div>
  <div class="chartContainer">
      <div [chart]="chart" class="chart"></div>
      <div class="chartData">
          <table class="marks">
             <tr>
               <td colspan="3" class="table_title">Marks By Question Level</td>
             </tr>
              <tr>
                <td></td>
                <td>Av</td>
                <td>Ac</td>
              </tr>
              <tr>
                <td>Basic: </td>
                <td class="table_number">{{ sumAvailableMarksByLevel()['basic'] }}</td>
                <td class="table_number">{{ sumActualMarksByLevel()['basic'] }}</td>
              </tr>
      
              <tr>
                  <td>Intermediate: </td>
                  <td class="table_number">{{ sumAvailableMarksByLevel()['intermediate'] }}</td>
                  <td class="table_number">{{ sumActualMarksByLevel()['intermediate'] }}</td>
                </tr>
      
                <tr>
                    <td>Advanced: </td>
                    <td class="table_number">{{ sumAvailableMarksByLevel()['advanced'] }}</td>
                    <td class="table_number">{{ sumActualMarksByLevel()['advanced'] }}</td>
                </tr>
                <tr>
                  <td>Total:</td>
                  <td class="table_number table_total">{{ getTotalAvailableMarks(pastPaperAnswers)}}</td>
                  <td class="table_number table_total">{{ getTotalActualMarks() }}</td>
                </tr>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr><td colspan="3"  class="table_title">Marks by Mistake</td></tr>
              <tr>
                <td>Not Answered:</td>
                <td>{{ (sumAvailableMarksByMistake()['NA'] || 0) - (sumActualMarksByMistake()['NA'] || 0) }}</td>
              </tr>
              <tr>
                <td>Silly:</td>
                <td>{{ (sumAvailableMarksByMistake()['SI'] || 0) - (sumActualMarksByMistake()['SI'] || 0) }}</td>
              </tr>
              <tr>
                <td>Serious:</td>
                <td>{{ (sumAvailableMarksByMistake()['SE'] || 0) - (sumActualMarksByMistake()['SE'] || 0) }}</td>
              </tr>
              <tr>
                <td>Correct:</td>
                <td>{{ getTotalActualMarks() }}</td>
              </tr>
            </table>
      </div>
  </div>
</div>

