<section>
        <div droppable 
        (onDrop)="onDrop($event)" 
        class="dropTarget" 
        [@highlightState]="getHighlightDragArea()"
        >
        <div class="dropTargetInner"></div>
      </div>
      <mat-card  
            class="lessonSummary" 
            draggable
            [dragData]="index" 
            (onDragStart)="onDragStart($event)" 
            (onDragEnd)="onDragEnd($event)"
            >
            <mat-card-title style="display: flex; flex-direction: row;">
                    <div  style="flex: 1">
                        {{lesson.title}}
                    </div>
                    <div>
                        <mat-menu #appMenu="matMenu">
                                <button mat-menu-item (click)="OnEditLessonClick()">Edit</button>
                                <button mat-menu-item (click)="OnDeleteLessonClick()">Delete</button>
                        </mat-menu>             
                        <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    
            </mat-card-title>
            <mat-card-content>
                    {{lesson.subtitle}}
            </mat-card-content>
            
            <mat-card-actions style="text-align: right;">
                <button mat-raised-button (click)="onReadMoreClick()">View</button>
                
            </mat-card-actions>
        </mat-card>
        
</section>
