<mat-card class="learningObjectives">
    <mat-card-title style="display: flex; flex-direction: row">
        <div style="flex:1">Learning Objectives</div>
        <mat-menu #appMenu="matMenu" >
                <button mat-menu-item (click)="onLOAddClick()">Add LO</button>
        </mat-menu>             
        <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card-title>
      <app-cp-learning-objective 
          *ngFor="let lo of los" 
          [lo]="lo"
          [status]="getLoFeedback(lo)"
          (statusChange)="onStatusChange($event)"
          (loEvent)="onLOEvent($event)"
          >
</app-cp-learning-objective>
</mat-card>
