<div class="pageContainer">

    <div class="bg-img">
        <div class="pageBanner">
            <div class="header">Welcome to Flipped Floki.</div>
            <div class="subHeader">A resource site to help teachers deliver flipped <b>Maths</b> and <b>Computing</b> classrooms to KS3 &amp; KS4 pupils.</div>

        </div>
        <div class="signButtons" >
            <div [@signInTrigger]="signedInState"
                 (@signInTrigger.done)="animationDone($event)"
                 style="display: flex; flex-direction: row">
                    <div class="headerItem">Sign In</div>
                    <div class="headerItem">Sign Up</div>
            </div>
            
            <div class="headerItem"
                [@signOutTrigger]="signedInState"
                (@signOutTrigger.done)="animationDone($event)"
                (click)="signOutClick()"
            >
            Sign Out, <span *ngIf="userProfile">{{userProfile.name}}</span>
          </div>
        </div>

        <mat-card class="frmSignIn"  [@frmLoginTrigger]="signedInState">
            <mat-card-title>Login</mat-card-title> 
            <mat-card-content>
                <form [formGroup]="frmLoginForm">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="School Id" name="schoolId" formControlName="schoolId"/>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="User Id" name="userId" formControlName="userId"/>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input type="password" matInput placeholder="password" name="password" formControlName="password"/>
                        </mat-form-field>
                    </div>
                </form>
                <div class="signInStatusMsg">
                    {{signInStatusMsg}}
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button pButton label="Sign In" (click)="signInClick()"></button>
            </mat-card-actions>
        </mat-card>

    </div>     

    <div class="sideBlocks">
      <div class="sideBlock" style="background-color: #328CC1">KS3 Maths Resources</div>
      <div class="sideBlock" style="background-color: #D9B310">KS3 Computing Resources</div>
      <div class="sideBlock" style="background-color: #0B3C5D">KS4 Maths Resources</div>
      <div class="sideBlock" style="background-color: #1D2731">KS4 Computing Resources</div>
    </div>
        
</div>
