<div class="page">
    
    <app-cp-site-banner></app-cp-site-banner>
      
    <app-cp-ticker></app-cp-ticker>
    

    <div class="gridContainer">
        <mat-card style="max-width: 300; margin: 10px;">
            <mat-card-content style="text-align: center">

                    <div class="teacherWindow">
                            <div class="imageHeader">For Teachers</div>
                            <div></div>
                    </div>
            </mat-card-content>
        </mat-card>

        <mat-card style="max-width: 300; margin: 10px;">
            <mat-card-content>
                    <div class="pupilWindow">
                            <div class="imageHeader">For Pupils</div>
                    </div>
            </mat-card-content>
        </mat-card>
        
        <!--
        <app-cp-login 
        style="max-width: 300; margin: 10px;"
            class="loginForm" 
            [@frmLoginTrigger]="signedInState"></app-cp-login>
        -->
        <div class="userStats" [@userStatsTrigger]="signedInState">
           <mat-card *ngIf="userProfile">
               <mat-card-title>Welcome {{userProfile.name}}</mat-card-title>
               <mat-card-content>
                   <div>Test data goes here.</div>
               </mat-card-content>
           </mat-card> 
        </div>
    </div>

    <div class="modulesGrid">
            <div class="mathsHeader"><h1 mat-h1>Maths Modules</h1></div>
            <div class="computingHeader"> <h1 mat-h1>Computing Modules</h1></div>
            <div class="newModulesHeader"> <h1 mat-h1>New Modules</h1></div>
            <div class="challengesHeader"> <h1 mat-h1>Challenges Modules</h1></div>

            <div class="mathsModules">
                <ul>
                    <li>Time Conversion</li>
                    <li>Negative NUmbers</li>
                    <li>Decimal NUmbers</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Programming Concepts</li>
                    <li>Python</li>
                </ul>
            </div>  
            <div>

            </div>
            <div>
                <ul>
                    <li>Area Calculator</li>
                    <li>Prime Numbers</li>
                    <li>Build a Calculator</li>
                </ul>
            </div> 
            
        </div>
</div>
        
       
        
       
      