
<ng-template #loading>
        <app-cp-loading ></app-cp-loading>
</ng-template>
<section class="pageContainer" *ngIf="lesson; else loading">
        <div class="lesson">
                <div class="wrapper">
                        <div class="sideMenu box">
                                <app-cp-lesson-side-nav
                                        class="sideNav"
                                        [sections]="sections"
                                        [sectionPayloads]="sectionPayloads"
                                        (sideNavEvent)="onSideNavEvent($event)"
                                ></app-cp-lesson-side-nav>
                                <button mat-raised-button (click)="onSectionNew()">Add Section</button>
                        </div>
                        <div id="sectionContainer" (scroll)="testScroll()" class="sectionContainer box">
                                <section *ngIf="lesson" class="lessonHeading">
                                        <h1 class="mat-title">{{lesson.title}}</h1>
                                        <h2 class="mat-subheading-1">{{lesson.subtitle}}</h2>
                                </section>
                                <section>
                                        <app-cp-learning-objectives 
                                                [los]="los"
                                                [loProgress]="loProgress"
                                                (statusChange)="onLOStatusChange($event)"
                                                (loEvent) = "onLOEvent($event)"
                                                >
                                        </app-cp-learning-objectives>
                                </section>
                                                
                                <app-cp-section
                                        *ngFor="let section of sections; let i = index;"
                                        #sectionElem
                                        [userId]="userProfile.authenticationId"
                                        [section]="section"
                                        [payload]="getSectionPayload(section)"
                                        [index]="i"
                                        [highlightDragArea]="isDragging"
                                        (sectionEvent)="onSectionEvent($event)"
                                        (questionEvent)="onQuestionEvent($event)"
                                        >
                                </app-cp-section>
                                <!--                 
                                <mat-card style="margin-top: 15px;">
                                        <mat-card-content>
                                                <div style="display: flex; flex-direction: row;">
                                                        <H1 id="quiz" #quiz style="flex: 1">
                                                                Quiz
                                                                <button  style="width:30%; margin: 3px;" mat-raised-button (click)="createQuiz()"> New Quiz </button>
                                                                <mat-form-field style="font-family: 'Open Sans'; font-size: 15px;">
                                                                        <mat-select (selectionChange)="onQuizChange($event);">
                                                                                <mat-option *ngFor="let qd of quizDates;let i = index" [value]="i">{{convertDate(qd)}}</mat-option>
                                                                        </mat-select>
                                                                </mat-form-field>
                                                        </H1>
                                                        <div>
                                                                <mat-menu #appMenu="matMenu">
                                                                        <button mat-menu-item (click)="OnShowReport()">See Report</button>
                                                                </mat-menu>             
                                                                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                                                        <mat-icon>more_vert</mat-icon>
                                                                </button>
                                                        </div>         
                                                </div>
        
                                                <section class="actions" *ngIf="!questions">
                                                        <button type="button" style="width:100%; margin: 3px;" pButton label="Take Quiz" (click)="createQuiz()"></button>
                                                </section>
                                                
                                                <app-cp-quiz
                                                        [questions]="questions"
                                                        [currentQuestionIndex]="currentQuestionIndex"
                                                        [currentQuestion]="currentQuestion"
                                                        (questionEvent)="onQuestionEvent($event)"
                                                
                                                ></app-cp-quiz>
                                                
                                        </mat-card-content>
                                </mat-card>
                        -->
                        </div>
                </div>
        </div>

</section>




