
<ng-template #loading>
        <app-cp-loading ></app-cp-loading>
</ng-template>
<section class="pageContainer" *ngIf="lesson; else loading">
        <div class="lesson">
                <div class="wrapper">
                        
                        <div class="sideMenu box">
                                <div *ngIf="module" class="breadcrumb">
                                        <a [routerLink]="['/modules', module.id]">
                                                << {{module.title}}
                                        </a>
                                </div>
                                <app-cp-lesson-side-nav
                                        [sections]="sections" 
                                        [sectionPayloads]="sectionPayloads"
                                        (sideNavEvent)="onSideNavEvent($event)"
                                ></app-cp-lesson-side-nav>
                                <button mat-raised-button (click)="onSectionNew()">Add Section</button>
                        </div>
                        <div id="sectionContainer" (scroll)="testScroll()" class="sectionContainer box">
                                        <div *ngIf="lesson" class="lessonHeading ">
                                                        <h1 class="mat-title">{{lesson.title}}</h1>
                                                        <h2 class="mat-subheading-1">{{lesson.subtitle}}</h2>
                                        </div>
                                <section>
                                        <app-cp-learning-objectives 
                                                [los]="los"
                                                [loProgress]="loProgress"
                                                (statusChange)="onLOStatusChange($event)"
                                                (loEvent) = "onLOEvent($event)"
                                                >
                                        </app-cp-learning-objectives>
                                </section>
                                                
                                <app-cp-section
                                        *ngFor="let section of sections; let i = index;"
                                        #sectionElem
                                        [userId]="userProfile.authenticationId"
                                        [section]="section"
                                        [payload]="getSectionPayload(section)"
                                        [index]="i"
                                        [highlightDragArea]="isDragging"
                                        (sectionEvent)="onSectionEvent($event)"
                                        (questionEvent)="onQuestionEvent($event)"
                                        >
                                </app-cp-section>
                                
                                
                        </div>
                </div>
        </div>

</section>




