
<section class="pageContainer" *ngIf="lesson">
        <div class="lesson">

                        <div class="wrapper">
                                <div class="sideMenu box">
                                        <app-cp-lesson-side-nav
                                                class="sideNav"
                                                [sections]="sections"
                                                [sectionPayloads]="sectionPayloads"
                                                (sideNavEvent)="onSideNavEvent($event)"
                                        ></app-cp-lesson-side-nav>
                                        
                                </div>
                                <div id="sectionContainer" (scroll)="testScroll()" class="sectionContainer box">

                                                <section *ngIf="lesson">
                                                                <h1 class="mat-title">{{lesson.title}}</h1>
                                                                <h2 class="mat-subheading-1">{{lesson.subtitle}}</h2>
                                                        </section>
                                                        <section>
                                                                <app-cp-learning-objectives 
                                                                        [los]="los"
                                                                        [loProgress]="loProgress"
                                                                
                                                                        (statusChange)="onLOStatusChange($event)"
                                                                        (loEvent) = "onLOEvent($event)"
                                                                        >
                                                                </app-cp-learning-objectives>
                                                        </section>
                                                        
                                                        <app-cp-section  
                                                               
                                                                *ngFor="let section of sections; let i = index;"
                                                                #sectionElem
                                                                [section]="section"
                                                                [payload]="getSectionPayload(section)"
                                                                [index]="i"
                                                                [highlightDragArea]="isDragging"
                                                                (sectionEvent)="onSectionEvent($event)"
                                                                (questionEvent)="onQuestionEvent($event)"
                                                                >
                                                        </app-cp-section>
                                                        
                                                        
                                
                                                        <mat-card style="margin-top: 15px;">
                                                                <mat-card-content>
                                                                        <H1 id="quiz" #quiz>Quiz</H1>
                                                                        <section class="actions" *ngIf="!questions">
                                                                                <button type="button" style="width:100%; margin: 3px;" pButton label="Take Quiz" (click)="createQuiz()"></button>
                                                                        </section>
                                                                        <mat-form-field>
                                                                                <mat-select (selectionChange)="onQuizChange($event);">
                                                                                        <mat-option *ngFor="let qd of quizDates;let i = index" [value]="i">{{qd}}</mat-option>
                                                                                </mat-select>
                                                                               
                                                                        </mat-form-field>
                                                                        <button  style="width:30%; margin: 3px;" mat-raised-button (click)="createQuiz()"> New Quiz </button>
                                                                       
                                                                        
                                                                        
                                                                        <div id="quiz" style="display: flex; flex-direction: row">
                                
                                                                                <app-cp-question-status-bar 
                                                
                                                                                        *ngIf="questions"
                                                                                        [questions]="questions"
                                                                                        [currentIndex]="currentIndex"
                                                                                        >
                                                                                </app-cp-question-status-bar>
                                                                                <app-cp-question *ngIf="questions" 
                                                                                        (questionEvent)="onQuestionEvent($event)"
                                                                                        [question]="currentQuestion"
                                                                                        [index]="currentQuestionIndex"
                                                                                >
                                                                                </app-cp-question>
                                                                                
                                
                                                                        </div>
                                                                        
                                                                </mat-card-content>
                                                        </mat-card>
                                        
                                </div>
                        </div>

                        
                        
        </div>

</section>


