.pageContainer {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 70px auto;
    height: 100%;
  }
  
  .pageHeader {
    grid-area: 1 / 1 / 2 / 4; 
    height:60px;
    color: white;
    background-color: black;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
 

  .siteLogo {
    height: 40px;
    margin-right: 50px;
    
  }

  .siteMenuItem {
    color: silver;
    margin-right: 15px;
    font-family: 'Roboto';
    font-size: larger;
    padding: 5px;
    cursor: pointer;
  }

  .siteMenuItem.active {
    background-color: aquamarine;
    border-radius: 10px;
    color: black;
  }

  .userName{
    color: aquamarine;
    font-family: 'Open Sans';
    flex: 1;
    text-align: right; 
    margin-right: 30px;
  }

  .pageBody {
    grid-area: 2/ 2 / 3 / 3;
    background-color: white;
    border-left: silver 1px solid;
    border-right: silver 1px solid;
    padding: 10px;
    overflow-y: auto;
  }