<!--The content below is only a placeholder and can be replaced.-->

<p-growl></p-growl>
<div class="pageContainer">
        <!-- Site Memu -->
        <div class="pageHeader" >
                <a [routerLink]="'landing'">
                        <img   class="siteLogo" src="/assets/images/mrsalih_logo.png">
                </a>

                <a *ngIf="userProfile" class="siteMenuItem" [routerLink]="'modules'"   [routerLinkActive]="'active'">Modules</a>
                
                <app-cp-login-button 
                        class="userName"
                        [userProfile]="userProfile" 
                        (loginEvent)="OnLoginEvent($event)"
                        >

                </app-cp-login-button>
                
                
        </div>
        <div class="pageBody">
                <div>
                        <router-outlet #o="outlet"></router-outlet>
                </div>
                                      
        </div>
</div>






