<!--The content below is only a placeholder and can be replaced.-->

<p-growl></p-growl>
<div class="pageContainer">
        <div class="pageHeader" >
                <a [routerLink]="'landing'">
                        <img   class="siteLogo" src="/assets/images/mrsalih_logo.png">
                </a>
                <a class="siteMenuItem" [routerLink]="'modules'"   [routerLinkActive]="'active'">Modules</a>
                <a class="siteMenuItem" [routerLink]="'posts'" [routerLinkActive]="'active'" >Posts</a>
                <a *ngIf="userProfile" class="userName">
                    <div>{{userProfile.name}}</div>    
                </a>
                <a *ngIf="!userProfile" class="userName">
                        <div >Guest</div>    
                </a>
                
        </div>
        <div class="pageBody">
                <div>
                        <router-outlet #o="outlet"></router-outlet>
                </div>
                                      
        </div>
</div>






