.pageContainer {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 70px auto;
    height: 100%;
  }
  
  .pageHeader {
    grid-area: 1 / 1 / 2 / 4; 
    height:60px;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .pageBody {
    grid-area: 2/ 2 / 3 / 3;
    background-color: white;
    border-left: silver 1px solid;
    border-right: silver 1px solid;
    padding: 10px;
    overflow-y: auto;
  }

  .siteLogo {
    height: 40px;
  }