.mat-dialog-title {
  background-color: black;
  color: aquamarine;
  padding: 20px;
}

.formContent {

  width: 250px;
  margin: auto;
  padding-bottom: 20px;
}

.message {
  font-family: 'Lato';
  font-size: 12px;
  padding-bottom: 10px;
}

.actions {
  text-align: right;
}

.actions :first-child {
  margin-right: 5px;
}