.jumbotron{
    height:150px;
}

.moduleContent {
    display : flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.moduleDescription {
    flex-grow: 1;
}

.moduleLessons {
    flex-grow: 1;
}

.breadcrumb {
    cursor: pointer;
    color: aquamarine;
    background-color: rgb(100,100,100);
    width: 100%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

