
 <ng-template name="loading" #loading>
        <app-cp-loading></app-cp-loading>
 </ng-template>
<!--
<div>
        <button mat-raised-button mat-button-primary (click)="moduleNew()">New Module</button>
</div>
-->
<div id="pageGrid">
        <div id="profile" [@profileState]="userProfile">
                <div *ngIf="userProfile">
                        <img id="profilePic" src="assets/images/default_profile.jpg">
                        <div id="profileName">{{userProfile.name}}</div>
                        <div id="profileClass">{{userProfile.className}}</div>
                </div>
        </div>
        <div id="sideBar">
                <div class="card-container" *ngIf="getModules(); else loading">
                        <app-cp-module-summary-list
                                [modules]="getModules()"
                                (moduleChanged)="onModuleChanged($event)"
                        >
                        </app-cp-module-summary-list>
                </div>
        </div>
        <div id="detail">
                <router-outlet></router-outlet>
        </div>
    </div>



    









    
