
 <ng-template name="loading" #loading>
        <app-cp-loading></app-cp-loading>
 </ng-template>
<!--
<div>
        <button mat-raised-button mat-button-primary (click)="moduleNew()">New Module</button>
</div>
-->
<div class="card-container" *ngIf="modules; else loading">
        <app-cp-module-summary 
        *ngFor="let module of modules"
        (moduleEvent)="onModuleChanged($event)"
        (readMore)="onReadMoreClicked($event)" 
        [readOnly]="false"
        [module]="module"></app-cp-module-summary> 
</div>


    









    
