:host {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#pageGrid {
    display: grid;
    width: 100%;
    grid-column-gap: 10px;
    grid-template-areas: "profile detail" "sideBar detail";
    grid-template-columns: 250px auto;
}

#profile {
    grid-area: profile;
    background-color: lightgray;
    text-align: center;
}

#profilePic {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    padding: 7px;
    border: solid 1px silver;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkgray;
}

#profileName {
    font-family: 'Open Sans';
    color: black;
}

#profileClass {
    font-family: 'Open Sans';
    color: black;
}

#detail {
    grid-area: detail;
    background-color: ghostwhite;
}

#sideBar {
    grid-area: sideBar;
    background-color: ghostwhite; 
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto; 
  }

 

