:host {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: auto 1fr; 
  }


