<div class="bannerContainer">
    <img class="siteBanner" src="/assets/images/site-banner.png" />
    <div class="siteQuote" >
        <div class="quoteWrapper">
            <div class="quoteOpening">&ldquo;</div>
            <div class="quoteText">One of the greatest benefits of flipping is that overall interaction increases: teacher-to-student, and student-to-student</div>
            <div class="quoteClosing">&bdquo;</div>
            <div class="quoteSource">Aaron Sams, Flip Your Classroom</div>
        </div>
    </div>
</div>