/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~katex/dist/katex.css';

HTML, BODY {
    background-color: #efefef;
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

router-outlet ~ * {
    
}

.ui-menu .ui-menuitem-link {
    text-align: left;
}

.ui-card {
    margin : 5px;
}

.katex { font-size: 2em; }


.sectionTitle {
    font-size: larger;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
}



a {
    text-decoration : none;
}

figure {
    margin: 10px;
}

.card {
    display: grid;
    border-top : 1px dashed silver;
    
    
    margin : 5px;
    padding: 5px;
    grid-template-areas: "info info"
                         "fig  title"
                         "fig  subtitle"
                         "fig  desc";
    grid-template-columns: 60px 1fr;
    grid-column-gap: 10px;
  }
  
  .card-info {
    grid-area: info;
    display: inline;
    margin-bottom: 10px;
    font-family: 'Lato';
    font-size : 10px;
    color: royalblue;

  }
  
  .card-tag {
    color: lightseagreen;
    font-family: 'Roboto', Verdana;
    font-size: small;
    display: inline;
  }
  
  .card-date {
    color: grey;
    font-family: 'Roboto', Verdana;
    font-size: small;
    display: inline;
    margin-left: 20px;
  }
  
  .card-fig {
    grid-area: fig;
  }
  
  .card-fig img {
    max-width: 50px;
    height: auto;
  }
  
  .card-title {
    grid-area: title;
    font-family: 'Lato', Verdana;
    font-size: 14px;
    color: black;
  }
  
  .card-subtitle {
    grid-area: subtitle;
    font-family: 'Lato', Verdana;
    font-size: 12px;
    color: darkgray;
  }
  
  .card-desc {
    grid-area: desc;
    color: rgba(15,15,15,1);
    font-family: 'Open Sans', verdana;
    font-size: small;
    margin-top: 15px;
  }

  .login-dialog-container .mat-dialog-container {
    /* add your styles */
    padding: 0px;
    width: 300px;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0, 0.6);
}



.ui-float-label>input:focus~label,
.ui-float-label>input.ui-state-filled~label,
.ui-float-label>.ui-inputwrapper-focus~label,
.ui-float-label>.ui-inputwrapper-filled~label {
    top: -.75em;
    font-size: 12px;
    font-family: 'Open Sans';
}


.blog-post {
  font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.blog-post iframe {
  margin-top : 20px;
  margin-bottom : 20px;

}




  

