/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~katex/dist/katex.css';

HTML, BODY {
    background-color: #efefef;
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.ui-menu .ui-menuitem-link {
    text-align: left;
}

.ui-card {
    margin : 5px;
}

.katex { font-size: 2em; }

.sectionTitle {
    font-size: larger;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card {

    border : 1px solid silver;
    border-radius: 5px;
    margin : 5px;
    padding: 5px;

}

.card .logoWrapperLogo {
    display: inline;
}

.card .logoWrapperLogo IMG {
    max-width : 50px;
    display: inline;

}

.card .logoWrapperTitle {

    display: inline;
}

.card .logoWrapperLink {

    font-size: small;
    color: blue;
    cursor: pointer;
}

.card .logoWrapperText {

    font-size: small;
    color: darkslategrey;
}

.card .logoWrapperChallenges {
    font-size: small;
    color: darkslategrey;

}

a {
    text-decoration : none;
}

figure {
    margin: 10px;
}


  

