

<form style="margin-top: 20px;" *ngIf="lessonForm" 
      [formGroup]="lessonForm">
  
      <H1>Lesson: {{lesson.title}}</H1>
      <div class="ui-float-label form-input">
          <input formControlName="title" id="float-input" type="text" size="30" pInputText > 
          <label for="float-input">Title:</label>
      </div>

      <div class="ui-float-label form-input">
          <input formControlName="subtitle" id="float-input" type="text" size="30" pInputText > 
          <label for="float-input">Subtitle:</label>
      </div>

  </form>

  <h2>Learning Objectives:</h2>
  <h2>Sections:</h2>

  <p-table [value]="lessonSections">
      <ng-template pTemplate="header">
          <tr>
              
              <th>Title</th>
              <th>Type</th>
              <th style="width: 90px;">
                <span class="pi pi-plus" (click)="onAddSection()">Add</span>
              </th>
  
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-section let-i="rowIndex">
          <tr>
              
              <td><a [routerLink]="['/admin/lesson/', section.id]">{{section.title}}</a></td>
              <td>{{section.type}}</td>
              <td >
                <span class="pi pi-pencil" (click)="onEditLessonSection(section)"></span>
                <span class="pi pi-trash" (click)="onDeleteLessonSection(section)"></span>
                <span *ngIf="i != 0" class="pi pi-angle-up" (click)="onPromoteLessonSection(i)"></span>
                <span *ngIf="i != lessonSections.length - 1" class="pi pi-angle-down" (click)="onDemoteLessonSection(i)"></span>
                
              </td>
          </tr>
      </ng-template>
  </p-table>