<svg [attr.width]="w" [attr.height]="h">
  <svg:rect    x="0" 
               y="0"
               rx="15"
               ry="15"
               [attr.height]="h"
               [attr.width]="w" 
               stroke="green" 
               stroke-width="1"
               opacity="0.5" 
               [attr.fill]="'red'" />

  <svg:rect    x="0" 
               y="0"
               rx="15"
               ry="15"
               [attr.height]="h"
               [attr.width]="calc()" 
               stroke="green" 
               stroke-width="4" 
               [attr.fill]="'green'" />
</svg>