<div class="sideNav">
    <div class="sideNavItem" (click)="gotoHome()">
        <mat-icon>home</mat-icon>
            <span class="sideNavItemTitle">Home</span>
        </div>
    <div *ngFor="let section of sections; let i = index;" 
         (click)="gotoSection(i)" 
         class="sideNavItem"
         >
          <mat-icon *ngIf="section.type == 'video'">video_library</mat-icon>
          <mat-icon *ngIf="section.type == 'text'">text_fields</mat-icon>
          <mat-icon *ngIf="section.type == 'quiz'">question_answer</mat-icon>
          <span class="sideNavItemTitle">{{section.title}}</span>
          <span class="sideNavItemCheck" *ngIf="checkSectionCompleted(section.id)"><mat-icon>done</mat-icon></span>
        </div>
</div>
